.quiz-container {
    display: flex;
    flex-wrap: wrap;
    /* Cho phép các phần tử xuống hàng khi không còn đủ không gian */
    gap: 20px;
    /* Khoảng cách giữa các phần tử */
    justify-content: center;
    /* Căn giữa các phần tử trong hàng */
}

.quiz-item {
     
    box-sizing: border-box;
    /* Đảm bảo padding và border không làm tăng kích thước tổng cộng */
    text-align: center;
    /* Căn giữa văn bản */
   
}

.quiz-image {
    width: 100%;
    /* Kích thước chiều rộng của ảnh chiếm toàn bộ phần tử chứa */
    height: 200px;
    /* Để chiều cao tự động giữ tỷ lệ */
   
}